{% extends "base.html" %}
{% block title %}Task adding{% endblock %}

{% block content %}
    <form method="POST" class="post-form">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
          </p>
        {% endfor %}
        <div class="12u$">
            <ul class="actions">
                <li><input type="submit" value="Save" class="special" /></li>
            </ul>
        </div>
    </form>
{% endblock %}