{% extends "base.html" %}
{% block title %}Add plan{% endblock %}
{% block content %}
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="12u$">
            <ul class="actions">
                <li><input type="submit" value="Save" class="special" /></li>
            </ul>
        </div>
    </form>
{% endblock %}