{% extends "super.html" %}
{% block title %}Oops!{% endblock %}
{% block base_content %}
    <section id="banner">
        <h2>Oops!</h2>
        <p>{{ exception }}</p>
        <ul class="actions" type="submit">
            <li>
                <a href="/" class="button big">Home</a>
            </li>
        </ul>
    </section>
{% endblock %}