{% extends "base.html" %}
{% block title %}Friends{% endblock %}
{% block content %}
    <h3>Friends</h3>
    <div class="table-wrapper">
        <table>
            <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
{% for friend in friends %}
    <tr>
        <td>{{ friend }}</td>
        <td>
            <a href="/friends/remove/{{ friend }}" class="button small">Remove</a>
        </td>
    </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
    <p></p>
    <form method="POST" class="post-form">
        {% csrf_token %}
        <div class="3u 6u$(2) 12u$(3)">
            <input type="text" name="name" id="name" value="" placeholder="Username" />
        </div>
        <p></p>
        <div class="3u 6u(2) 12u$(3)">
            <ul class="actions vertical">
               <li><input type="submit" value="Add friend" href="/friends/add" class="button alt fit"></li>
            </ul>
        </div>
    </form>
{% endblock %}