{% extends "base.html" %}
{% block title %}Join DayTracker{% endblock %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
        <div class="12u$">
            <ul class="actions">
                <li><input type="submit" value="Sign up" class="special" /></li>
            </ul>
        </div>
</form>
{% endblock %}