{% extends "base.html" %}
{% block title %}List details{% endblock %}
{% block content %}
<h4>{{ list_name }}</h4>
    <div class="table-wrapper">
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Finish time</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
    <tbody>
    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td>{{ task.finish }}</td>
        <td>{{ task.status }}</td>
        <td>
            <a href="/tasks/details/{{ task.id }}" class="button small">Details</a>
            <a href="/lists/{{ list_name|slugify }}/remove/task/{{ task.id }}" class="button small">Remove from list</a>
            {% if task.status.name == 'ACTIVE' %}
                <a href="/tasks/finish/{{ task.id }}" class="button small">Finish</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
        </table>
    </div>
    <form method="POST" action="/lists/{{ list_name|slugify }}/add/task/">
       {% csrf_token %}
       <div class="6u$">
           <div class="select-wrapper">
               <select name="task" id="task">
                   <option value="">-tasks-</option>
                   {% for task in user_tasks %}
                       <option value="{{ task.id }}">{{ task.title }}</option>
                   {% endfor %}
               </select>
           </div>
       </div>
       <p></p>
       <input type="submit" value="Add task" class="special" />
   </form>
{% endblock %}