{% extends "super.html" %}
{% block title %}DayTracker{% endblock %}
{% block base_content %}
    <section id="banner">
				<h2>DayTracker</h2>
				<p>Manage your tasks</p>
				<ul class="actions" type="submit">
					<li>
						<a href="join/" class="button big">Sign up</a>
					</li>
				</ul>
    </section>
{% endblock %}
