<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}DayTracker{% endblock %}</title>
        <!--[if lte IE 8]><script src="{% static "js/html5shiv.js" %}"></script><![endif]-->
		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/skel.min.js" %}"></script>
		<script src="{% static "js/skel-layers.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/init.js" %}"></script>
        <link rel="stylesheet" href="{% static "css/style.css" %}" />
        <link rel="stylesheet" href="{% static "css/style-xlarge.css" %}" />


		<noscript>
			<link rel="stylesheet" href="{% static "css/skel.css" %}" />
			<link rel="stylesheet" href="{% static "css/style.css" %}" />
			<link rel="stylesheet" href="{% static "css/style-xlarge.css" %}" />
		</noscript>
    </head>
<body>
        <!-- Header -->
        <header id="header">
            <h1><a href="{% url 'home_page' %}">DayTracker</a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="/tasks/">Tasks</a></li>
                    <li><a href="{% url 'user_plans' %}">Plans</a></li>
                    <li><a href="{% url 'friends_page' %}">Friends</a></li>
                    <li><a href="{% url 'lists_page' %}">Task lists</a></li>
                    {% block user_status_change %}
                        {% if not user_status %}
                            <li><a href="/login.html" class="button special">Sign in</a></li>
                        {% else %}
                            <li><a href="/profile/" class="button special">{{ user_status|title }}</a></li>
                        {% endif %}
                    {% endblock %}
                </ul>
            </nav>
        </header>

        {% block base_content %}{% endblock %}
</body>
</html>