{% extends "base.html" %}
{% block title %}Tasks filter{% endblock %}
{% block content %}
    <form method="POST" class="post-form">
        {% csrf_token %}
            {% for field in form %}
            <div class="6u 12u$(3)">
            {% if field.name == 'created_by_me' %}
                {{ field }}
                {{ field.label_tag }}
            {% else %}
                {{ field.label_tag }}
                {{ field }}
            {% endif %}

            </div>
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                <p></p>
            {% endfor %}
        <p></p>
        <div class="3u 6u(2) 12u$(3)">
            <ul class="actions vertical">
                <li><input type="submit" value="Filter" class="button alt fit" /></li>
            </ul>
        </div>
    </form>
{%  endblock %}