{% extends "base.html" %}
{% block title %}Task adding{% endblock %}

{% block content %}
    <div class="row">
       <div class="2u 12u(3)">
           <h3>
                <a href="#task">Task</a>
           </h3>
       </div>
       <div class="2u 12u(3)">
           <h3>
                <a href="#users">Users</a>
           </h3>
       </div>
       <div class="2u 12u(3)">
           <h3>
               <a href="#subtasks">Subtasks</a>
           </h3>
       </div>
       <div class="2u 12u(3)">
           <h3>
               <a href="#history">History</a>
           </h3>
       </div>
       <div class="2u 12u(3)">
           <h3>
               <a href="#notifications">Notifications</a>
           </h3>
       </div>
    </div>
    <hr/>
        <section id="task" class="wrapper">
         <h4>Task</h4>
            <form method="POST">
            {% csrf_token %}
                {% for field in task_form %}
                    {{ field.label_tag }}
                    {{ field }}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                {% endfor %}
                    <p></p>
                {% endfor %}
                <input type="submit" value="Save" class="special" />
            </form>

        </section>
        <section id="users" class="wrapper">
            <h4>Users permissions</h4>
            <div class="table-wrapper">
                    <table>
                        <thead>
                        <tr>
                            <th>User</th>
                            <th>Permissions</th>
                            <th></th>
                        </tr>
                    </thead>
                <tbody>
                {% for username, permissions in users.items %}
                <tr>
                    <td>{{ username }}</td>
                    <td>
                        {% for p in permissions %}
                            <strong>{{ p }} &ensp; </strong>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="/task/{{ task_id }}/remove/permissions/{{ username }}" class="button small">Remove</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                    </table>
                </div>
                <form method="POST" action="/add_permission/{{ task_id }}">
                {% csrf_token %}
                <div class="row uniform 50%">
                    <div class="4u$">
                        <div class="select-wrapper">
                           <select name="friend_id" id="subtask">
                               <option value="">-friends-</option>
                               {% for friend in user_friends %}
                                   <option value="{{ friend }}">{{ friend }}</option>
                               {% endfor %}
                           </select>
                        </div>
                    </div>
                    {% for p in permissions %}
                        <div class="3u 12u$(3)">
                            <input type="checkbox" id="{{ p.value }}" name="operations" value="{{ p.value }}" >
                            <label for="{{ p.value }}">{{ p }}</label>
                        </div>
                    {%  endfor %}
                    <p></p>
                </div>
                    <input type="submit" value="Add user" class="special" />
                </form>

       </section>
        <section id="subtasks" class="wrapper">
           <h4>Subtasks</h4>
                <div class="table-wrapper">
                    <table>
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Finish time</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                <tbody>
                {% for subtask in subtasks %}
                <tr>
                    <td>{{ subtask.title }}</td>
                    <td>{{ subtask.finish }}</td>
                    <td>{{ subtask.status }}</td>
                    <td>
                        <a href="/tasks/details/{{ subtask.id }}" class="button small">Details</a>
                        <a href="/task/{{ task_id }}/remove/subtask/{{ subtask.id }}" class="button small">Remove subtask</a>
                        {% if subtask.status.name == 'ACTIVE' %}
                            <a href="/tasks/finish/{{ subtask.id }}" class="button small">Finish</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                    </table>
                </div>
           <p></p>
           <form method="POST" action="/task/{{ task_id }}/add/subtask/">
               {% csrf_token %}
               <div class="6u$">
                   <div class="select-wrapper">
                       <select name="subtask" id="subtask">
                           <option value="">-tasks-</option>
                           {% for subtask in user_tasks %}
                               <option value="{{ subtask.id }}">{{ subtask.title }}</option>
                           {% endfor %}
                       </select>
                   </div>
               </div>
               <p></p>
               <input type="submit" value="Add subtask" class="special" />
           </form>
       </section>
        <section id="history" class="wrapper">
            <h4>History</h4>
            <h5>Created by {{ task_creator }} </h5>
            <div class="table-wrapper">
                    <table>
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Record</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for record in history %}
                       <tr>
                        <td>{{ record.time }}</td>
                        <td>{{ record.message }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
            </div>
        </section>
        <section id="notifications" class="wrapper">
            <h4>Notifications</h4>
            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr>
                        <th>Planned time</th>
                        <th></th>
                    </tr>
                    </thead>
                <tbody>
                {% for time in notifications %}
                   <tr>
                    <td>{{ time }}</td>
                    <td><a href="/tasks/{{ task_id }}/notifications/{{ time|slugify }}" class="button small">Remove</a></td>
                   </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
            <form method="POST" action="/task/{{ task_id }}/notifications/add">
            {% csrf_token %}
                <div class="6u 12u$(4)">
                    <input type="datetime-local" name="time" id="time" value=""/>
                </div>
                <p></p>
            <input type="submit" value="Add notification" class="special" />
            </form>
        </section>
   </div>

{% endblock %}