{% extends "base.html" %}
{% block title %}User Plans{% endblock %}
{% block content %}
    <h3>Plans</h3>
    <div class="table-wrapper">
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Is active</th>
                <th>Plan type</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for plan in plans %}
                <tr>
                <td>{{ plan.title }}</td>
                <td> {% if plan.repeat is None and plan.extreme_date is None %}
                        <h5>yes</h5>
                     {% elif plan.repeat is not None and plan.repeat == 0 %}
                        <h5>no</h5>
                     {% else %}
                        <h5>yes</h5>
                     {% endif %}
                </td>
                <td>
                    {% if plan.weekdays is not None %}
                        weekdays
                    {% else %}
                        time delta
                    {% endif %}
                </td>
                <td>
                    <a href="/plans/stop/{{ plan.id }}" class="button small">Stop</a>
                    <a href="/plans/edit/{{ plan.id }}" class="button small">Edit</a>
                    <a href="/plans/remove/{{ plan.id }}" class="button small">Remove</a>
                    {% if plan.last_added_id is not None %}
                        <a href="/tasks/details/{{ plan.last_added_id.id }}" class="button small">Last added task</a>
                    {% endif %}
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="3u 6u(2) 12u$(3)">
        <ul class="actions vertical">
            <li><a href="/plans/add/" class="button alt fit">Add plan</a></li>
        </ul>
    </div>
{% endblock %}