{% extends "base.html" %}
{% block title %}User Tasks{% endblock %}
{% block content %}
    <div class="row">
        <div class="1u 6u(3)">
            <h3>Tasks</h3>
        </div>
        <div class="6u 12u(3)">
            <div class="4u 8u(2) 12u$(3)">
                <ul class="actions vertical">
                        {% if is_filtered is True %}
                            <li><a href="{% url 'tasks_list' %}" class="button alt">Reset filter
                        {% else %}
                            <li><a href="{% url 'filter' %}" class="button alt">Filter
                        {% endif %}
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="table-wrapper">
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Finish time</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td>{{ task.finish }}</td>
        <td>{{ task.status }}</td>
        <td>
            <a href="/tasks/details/{{ task.id }}" class="button small">Details</a>
            <a href="/tasks/remove/{{ task.id }}" class="button small">Remove</a>
            {% if task.status.name == 'ACTIVE' %}
                <a href="/tasks/finish/{{ task.id }}" class="button small">Finish</a>
            {% elif task.status.name != 'ARCHIVED' %}
                <a href="/tasks/archive/{{ task.id }}" class="button small">Archive</a>
            {% endif %}
        </td>
    </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
    <div class="3u 6u(2) 12u$(3)">
        <ul class="actions vertical">
            <li><a href="{% url 'add_task' %}" class="button alt fit">Add task</a></li>
        </ul>
    </div>
{% endblock %}

