{% extends "base.html" %}
{% block title %}User Lists{% endblock %}
{% block content %}
    <h3>Lists</h3>
    <div class="table-wrapper">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for list in lists %}
                <tr>
                <td>{{ list }}</td>
                <td></td>
                <td>
                    <a href="/lists/open/{{ list|slugify }}" class="button small">Open</a>
                    <a href="/lists/remove/{{ list|slugify }}" class="button small">Remove</a>
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <form method="POST" action="/lists/add/">
        {% csrf_token %}
        <div class="6u 12u$(4)">
            <input type="text" name="list_name" id="list_name" value="" placeholder="List name" />
        </div>
        <p></p>
        <input type="submit" value="Add list" class="special" />
    </form>
{% endblock %}