{% extends "base.html" %}
{% block title %}User profile{% endblock %}
{% load static %}
{% block content %}
    <div class="row">
    <div class="4u 12u(3)">
           <h3>
                <a href="#profile">Profile</a>
           </h3>
       </div>
       <div class="4u 12u(3)">
           <h3>
                <a href="#notifications">Task notifications</a>
           </h3>
       </div>
    </div>
    <hr />
    <section id="notifications" class="wrapper">
    <h4>Profile</h4>

    <p><span class="image right"><img src="{% static "images/pic08.jpg" %}" alt="" /></span>
        <h5>Username: {{ user_status }}</h5>
        <p></p>
        <h5>Active tasks: {{ active }}</h5>
        <h5>Finished tasks: {{ finished }}</h5>
        <h5>Failed tasks: {{ failed }}</h5>
        <h5>Archived tasks: {{ archived }}</h5>
    </p>
    <p></p>
    </section>
    <section id="users" class="wrapper">
    <h4>Task notifications</h4>
    <div class="table-wrapper">
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Time</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
    {% for task in notifications %}
    <tr>
        <td>{{ task.task_name }}</td>
        <td>{{ task.time }}</td>
        <td>
            <a href="/tasks/details/{{ task.task_id }}" class="button small">Details</a>
        </td>
    </tr>
    {% endfor %}
            </tbody>
        </table>
    </div>
    </section>

{% endblock %}

{% block user_status_change %}
    <li><a href="/logout/" class="button special">Sign out</a></li>
{% endblock %}

